  html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(64,0,0);
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    color: white;
  }

ul, #itnames, #thingsdo {
  list-style-position: inside;
  padding-left: 0;
  display: inline-block;
  text-align: left;
}

a:visited, a {
  color: rgb(117, 255, 117);
}

.buton {
  color: white;
  background-color: darkred;
  border-style:solid;
  border-radius: 10px;
  border-color: rgb(32,0,0);
}

textarea {
  background-color: black;
  color: white;
  resize: none;
}

#navbar {
    list-style-type: none;
  margin: 0;
  position: fixed;
  top: 0;
  background-color: black;
  padding: 10px;
  z-index: 100; 
  left: 0px;
}

.navbarele {
  display: inline;
}

.abar {
    color: white !important;
}